/**GENERAL STYLE**/
* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
    border: 1px solid #000;
}

/*HEADER*/

.header {
    height: 100px;
    background-color: #ffffff;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_search {
        display: flex;
        justify-content: center;
        align-items: center;
        .search {
            margin-left: 37px;       
            
            .browse {
                width: 87px;
                height: 38px;
                background-color: #cdcdcc;
                background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
                border: 1px solid #e6e6e6;
                border-radius: 3px 0px 0px 3px;
                margin-right: 0px;
            }
            .input-search {               
                height: 38px;
                background-color: #ffffff;
                border: 1px solid #e6e6e6;
                border-radius: 0px 3px 3px 0px;
                margin-left: 0px;
            }
            .button_search {                
                height: 38px;
                background-color: #ffffff;
                border: 1px solid #e6e6e6;
                border-radius: 0px 3px 3px 0px;
            }
        }
    }
    .cart_account {
        display: flex;
        justify-content: center;
        .cart {
            margin-right: 24px;
        }
        .account {
            background-color: #f16d7f;

            .account_link {
                font-size: 15px;
                line-height: 32px;
                font-weight: 400;
                letter-spacing: 0.025em;
                text-decoration: none;
                color: #ffffff;
                padding: 13px 29px 13px 19px;
            }
        }
    }
}

.line {
    background-color: #ffffff;    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    .menu__list {
        list-style-type: none;
        
            }
    .menu__link {
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: #222222;
        padding-top: 19px;
        padding-right: 45px;
        padding-bottom: 22px;
        
    }
}





/*CONTENT*/

.top_baner {
    height: 665px;
    background-color: #e8e8e8;
    margin-top: 17px;
    .top_baner__image {
        height: 665px;
        border: 1px solid #000;
        background-image: url(img/topbaner.png);
        background-position: center;
        display: flex;
        align-items: center;
        .red_rectangle {
            background-color: #f16d7f;
            width: 12px;
            height: 92px;
            margin-right: 12px;
        }
        .text_baner {
            font-size: 60px;
            line-height: 0.8;
            font-weight: 900;
            letter-spacing: 0.025em;
            color: #222222;
            .red_text {
                font-size: 40px;
                color: #f16d7f;
            }
        }
        .text_baner span {
            font-size: 40px;
            color: #222;
        }
        .red_text {
            font-size: 40px;
            color: #f16d7f;
        }
    }
}

.content {
    margin-top: 98px;
    .block_offer {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        .left_block {
            width: 50%;
            a {
                display: block;                
            }
            .block_men{
                height: 524px;
                background: url(img/blockmen.png) center no-repeat;
                margin-bottom: 20px;
                
            }
            .block_accesories {
                height: 261px;
                background: url(img/blockaccesories.png) center no-repeat;
            }
        }
        .right_block {
            width: 50%;
            .block_women {
                height: 251px;
                background: url(img/blockwomen.png) center no-repeat;
                margin-bottom: 20px;
            }

            .block_kids {
                height: 533px;
                background: url(img/blockkids.png) center no-repeat ;
            }
        } 
    .text_block {
        background-color: #fff;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;
        padding: 16px 19px;
        display: inline-block;
        margin-top: 26px;        
    }
    .text_block span {
        font-size: 30px;
        color: #f16d7f
    }   
    }

    .items_block {
        margin-top: 100px;
        text-align: center;
        .items_block_h3 {
            font-size: 30px;
            line-height: 45px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #222222;
        }
        .items_block_p {
            font-size: 14px;            
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #9f9f9f;
        }
        .items {
            margin-top: 60px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;            
           
                      
            .item {
                width: 261px;
                /*height: 364px;*/                
                margin-bottom: 39px;
                text-align: start;
                position: relative;                
                .link_item {
                    display: block;
                    text-decoration: none;
                }

                .item_image {
                    
                }

                .item_h4 {
                    font-size: 13px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #222222;
                    padding-top: 19px;
                    padding-left: 13px;

                }

                .item_prise {
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #f16d7f;
                    padding-top: 17px;
                    padding-left: 13px;
                    padding-bottom: 21px;
                }

                .add_block {
                    position: absolute;
                    top: 24%;
                    width: 100%;
                    display: none;
                    justify-content: center;
                }
                

                .link_cart {
                    display: flex;
                    align-items: center;                     
                    border: 1px solid #ffffff;                    
                    padding: 10px 13px;
                    text-decoration: none;                              
                }
                
                .link_cart:hover {
                    box-shadow: 0px 0px 5px #fff;
                }

                .link_cart_text {
                    padding-left: 8px;
                    font-size: 13px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: #ffffff;
                }
            }
            
        }
        .item:hover {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
            .item_image {
                filter: brightness(50%);
            }
            .add_block {
                display: flex;
            }
        }
                  
        
    }
}   

/*FOOTER*/